.TopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 16px 32px;
    background-color: aquamarine;
    
    a {
        font-size: 20px;
        font-weight: 400;
        color: darkgreen;
        padding: 8px 16px;
        margin: 0px 16px;
        transition: all 0.2s linear;
        background-color: bisque;
        border: none;
        text-decoration: none;

        &:hover {
            padding: 8px 32px;
            margin: 0px;
            background-color: darkgreen;
            color: wheat;
        }
        &:active {
            border-bottom: 2px solid darkgreen;
        }
    }
}
